# Виртуальное окружение
venv/
.env

# Папки и файлы, генерыруемые IDE
.idea/
*.pyc
__pycache__/
.vscode/

# Файлы окружения Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Другие игнорируемые файлы
Supplier_prices/
Logs/
Data/
Archive/
*.log
*.xlsx
*.xls
pytest.ini
*.md

#настройки
Confirmations/settings_app/settings_confirmations.py
Orders/settings_app/settings_orders.py
Prices/settings_app/price change log.xlsx
Prices/settings_app/settings_prices.py
Statuses/settings_app/settings_statuses.py
Stocks/settings_app/settings_stocks.py
Common/settings.py

# Миграции
Common/db/migrate_confirmations_dispatch_fk.py
Stocks/db_stocks/migrate_yandex.py

web/
